@{
    ViewData["Title"] = "Creditos";
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/site.css"/>

<style> 
    body{
        background-image: url(/imagen-nave.jpg);
    }
    
    p{
        color: white;
    }
</style>

<body>
    <h1>Creditos</h1>
    
    <p>Ramiro Kwon</p>
    <script src="/js/site.js"></script>
</body>