@{
    ViewData["Title"] = "Creditos";
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/site.css"/>

<style>
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(/espacio-gif1.gif);
    }
        
    p, h1{
        font-family: 'Montserrat', sans-serif;;
    }

    h1{
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        color: antiquewhite;
    }

    p{
        font-size: 25px;
        text-align: center;
        margin-top: 100px;
        color: #C7BBAA;
    }
</style>

<body>
    <h1>Creditos</h1>
    
    <p>Ramiro Kwon</p>
</body>