@{
    ViewData["Title"] = "Index";
}

<h1>TP XX - Index</h1>

<link rel="stylesheet" href="/css/indexSty.css">

<a href='@Url.Action("Sala1")'> asad</a>

<button onclick="realizarExperimento()">Realizar experimento</button>
<p id="resultadoExperimento"></p>



<script src="/js/indexxed.js"> </script>
