@{
    ViewData["Title"] = "Sala 2";
}

<link rel="stylesheet" href="/css/salaStyle.css">

<style>
    .banner{
        background-image: url(/espacio6.jpg);
    }
</style>

<body>
    <div class="banner">
        <h1 class="titulo">Titulo sala</h1>
    </div>

    <p class="parrafo">texto trama</p>
    
    <div class="contenedor-respuesta">
        <form action='@Url.Action("Habitacion", new {sala = 2})' class="boton-validar" method="post">
            <input type="text" name="clave">
            <input type="submit" value="Validar">
        </form>
    </div>

    <div class="contenedor-pistas">
        <button onclick="alert('texto pista 1')"> Pista 1 </button>
        <button onclick="alert('texto pista 2')"> Pista 2 </button>
    </div>
    
    @if (ViewBag.Error != null)
    {
        <h1>@ViewBag.Error</h1>
    }
</body>