@{
    ViewData["Title"] = "Sala 1";
}

<link rel="stylesheet" href="/css/indexStyle.css">

<h1>Resolver este puzzle para avanzar a la siguiente sala</h1>

<body>
    
</body>

<script src="/js/index.js"> </script>