@{
    ViewData["Title"] = "Sala 1";
}

<link rel="stylesheet" href="/css/indexStyle.css">

<h1>Resolver este puzzle para avanzar a la siguiente sala</h1>
<div id="puzzle_container">
        <div class="puzzle_block">1</div>
        <div class="puzzle_block">2</div>
        <div class="puzzle_block">3</div>
        <div class="puzzle_block">4</div>
        <div class="puzzle_block">5</div>
        <div class="puzzle_block">6</div>
        <div class="puzzle_block">7</div>
        <div class="puzzle_block">8</div>
</div>



<script src="/js/index.js"> </script>