@{
    ViewData["Title"] = "Tutorial";
}

<link rel="stylesheet" href="/css/tutorialStyle.css"/>

<body>
    <h1>Tutorial</h1>
    
    <p class="texto1">En "Misión Espacial", te embarcarás en una emocionante aventura espacial en la que te encontrarás varado en una nave espacial en los confines del espacio. Tu objetivo es resolver una serie de desafíos y acertijos para reparar la nave y regresar a salvo a la Tierra antes de que el oxígeno se agote por completo.</p>
    <p>Sumérgete en un entorno espacial intrigante mientras exploras las distintas áreas de la nave, interactúas con la tecnología futurista y descubres pistas ocultas para completar tu misión. ¿Estás listo para enfrentar el desafío y escapar de la nave espacial antes de que sea demasiado tarde?</p>
    <div class="slider">
    <ul>
        <li><img src="/espacio5.jpg" alt=""></li>
        <li><img src="/espacio6.jpg" alt=""></li>
        <li><img src="/espacio7.jpg" alt=""></li>
        <li><img src="/espacio8.jpg" alt=""></li>
    </ul>
    </div>
</body>