@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 10px 0px 20px 0px;
}

.navegador {
  float: left;
  width: 100%;
  margin-top: 10px;
  background-color: antiquewhite;
  border-radius: 15px;
}

.navegador ul {
  list-style: none;
}

.navegador ul li {
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.navegador ul li a {
  display: block;
  padding: 10px;
  color: #1b6ec2;
  text-decoration: none;
}

.navegador ul li:hover {
  background: #62669d;
  border-radius: 15px;
}

footer {
  color: #C7BBAA;
  font-family: 'Montserrat', sans-serif;
}

.cohete-imagen {
  margin-top: 15px;
  margin-left: 5px;
  width: 45px;
  float: left;
}

.navegador {
  position: relative;
  display: inline-block;
}

.navegador ul li:not(:last-child) {
  margin-right: 10px;
}

#menu {
  position: absolute;
  top: -60px;
  margin-left: 70px;
  display: none;
  list-style: none;
  white-space: nowrap;
  background-color: antiquewhite;
  border-radius: 15px;
  float: right;
  clear: right;
}



